.gamegrid {
    width: 80px !important;
    max-width: 80px !important;
    min-width: 80px !important;
    height: 80px !important;
    max-height: 80px !important;
    min-height: 80px !important;

    font-size: 48px;
    vertical-align: top;
    color:rgb(139, 97, 33);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color:rgb(242, 206, 151);
    border-color: blanchedalmond;
    border-style:solid;
    border-radius: 15px;
    text-align: center;
}

body{
    background-color: blanchedalmond;
}

h1 {
    color: rgb(139, 97, 33);
}