.gamegrid {
    width: 25% !important;
    height: 25% !important;
    font-size: 36px;
    vertical-align: top;
    color:rgb(98, 136, 112);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color:rgb(165, 227, 188);
    border-color: rgb(98, 136, 112);
    border-style:solid;
    border-radius: 15px;
}

body{
    background-color: rgb(98, 136, 112);
}

h1 {
    color: rgb(165, 227, 188);
}
h2 {
    color: rgb(165, 227, 188);
}

div{
    size: 200;
    width: 400px;
    height: 400px;
    text-align: center;
    margin: auto;
}
.center {
    text-align: center;
}

#winner {
    display: none;
    color: rgb(250, 255, 230);
}

#reset {
    display: none;
    font-size: 25px;
    height: 60px;
    width: 25%;
    color:rgb(165, 227, 188);
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    background-color:rgb(98, 136, 112);
    border-color: rgb(165, 227, 188);
    border-style:solid;
    border-radius: 5px;
}

.reset-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
  }
